/**
 * reset
 */
* {
    box-sizing: border-box;
}
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea {
    margin: 0;
    padding: 0;
}
header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
    display: block;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    border-padding: 0;
}
caption, th {
    font-weight: normal;
}
html, body, fieldset, img, iframe, abbr {
    border: 0;
}
i, cite, em, var, address, dfn {
    font-style: normal;
}
[hidefocus], summary {
    outline: 0;
}
li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6, small {
    font-size: 100%;
}
sup, sub {
    font-size: 83%;
}
pre, code, kbd, samp {
    font-family: inherit;
}
q:before, q:after {
    content: none;
}
textarea {
    overflow: auto;
    resize: none;
}
label, summary {
    cursor: default;
}
a, button {
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6, strong, b {
    font-weight: bold;
}
del, ins, u, s, a, a:hover {
    text-decoration: none;
}
textarea, input, button, select, table {
    font-size: inherit;
    font-family:  inherit;
}
body {
    background: #fff;
}
a {
    color: inherit;
    outline-style: none
}
a:hover {
    color: inherit;
}

/**
 * common
 */
body {
    font-size: 16px;
    line-height: 1.7;
}

#nav {
    line-height: 3;
    background: #c00;
    color: #fff;
}
#nav ul {
    max-width: 42em;
    margin: 0 auto;
    padding: 0 16px;
}
#nav ul li {
    display: inline-block;
}
#nav ul .active {
    background: #a00;
}
#nav ul li a {
    display: block;
    padding: 0 1em;
}

#main {
    margin: auto;
    max-width: 42em;
    min-height: calc(100vh - 10em);
    padding: 2em 16px;
}

#main a {
    color: #c00;
}

#footer {
    font-size: 0.8em;
    text-align: center;
    color: #666;
    line-height: 3;
}


/**
 * yue.css
 *
 * yue.css is designed for readable content.
 *
 * Copyright (c) 2013 - 2014 by Hsiaoming Yang.
 */

.yue {
    font-family: "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: #444443;
}

.windows .yue {
    font-size: 16px;
    font-family: "Georgia", "SimSun", sans-serif;
}

.yue ::-moz-selection {
    background-color: rgba(0,0,0,0.2);
}

.yue ::selection {
    background-color: rgba(0,0,0,0.2);
}

.yue h1,
.yue h2,
.yue h3,
.yue h4,
.yue h5,
.yue h6 {
    font-family: "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", "SimSun", sans-serif;
    color: #222223;
}

.yue h1 {
    font-size: 1.8em;
    margin: 0.67em 0;
}

.yue > h1 {
    margin-top: 0;
    font-size: 2em;
}

.yue h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

.yue h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

.yue h4,
.yue h5,
.yue h6 {
    font-size: 1em;
    margin: 1.6em 0 1em 0;
}

.yue h6 {
    font-weight: 500;
}

.yue p {
    margin-top: 0;
    margin-bottom: 1.46em;
}

.yue a {
    word-wrap: break-word;
}

.yue a:hover {
    text-decoration: underline;
}

.yue h1 a,
.yue h2 a,
.yue h3 a {
    text-decoration: none;
}

.yue strong,
.yue b {
    font-weight: 700;
    color: #222223;
}

.yue em,
.yue i {
    font-style: italic;
    color: #222223;
}

.yue img {
    max-width: 100%;
    height: auto;
    margin: 0.2em 0;
}

.yue a img {
    /* Remove border on IE */
    border: none;
}

.yue figure {
    position: relative;
    clear: both;
    outline: 0;
    margin: 10px 0 30px;
    padding: 0;
    min-height: 100px;
}

.yue figure img {
    display: block;
    max-width: 100%;
    margin: auto auto 4px;
}

.yue figure figcaption {
    position: relative;
    width: 100%;
    text-align: center;
    left: 0;
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    color: #666665;
}

.yue figure figcaption a {
    text-decoration: none;
    color: #666665;
}

.yue hr {
    display: block;
    width: 14%;
    margin: 40px auto 34px;
    border: 0 none;
    border-top: 3px solid #dededc;
}

.yue blockquote {
    margin: 0 0 1.64em 0;
    border-left: 3px solid #dadada;
    padding-left: 12px;
    color: #666664;
}

.yue blockquote a {
    color: #666664;
}

.yue ul,
.yue ol {
    margin: 0 0 24px 6px;
    padding-left: 16px;
}

.yue ul {
    list-style-type: square;
}

.yue ol {
    list-style-type: decimal;
}

.yue li {
    list-style: inherit;
    margin-bottom: 0.2em;
}

.yue li ul,
.yue li ol {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 14px;
}

.yue li ul {
    list-style-type: disc;
}

.yue li ul ul {
    list-style-type: circle;
}

.yue li p {
    margin: 0.4em 0 0.6em;
}

.yue .unstyled {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.yue code,
.yue tt {
    color: #808080;
    font-size: 0.96em;
    background-color: #f9f9f7;
    padding: 1px 2px;
    border: 1px solid #dadada;
    border-radius: 3px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    word-wrap: break-word;
}

.yue pre {
    margin: 1.64em 0;
    padding: 7px;
    border: none;
    border-left: 3px solid #dadada;
    padding-left: 10px;
    overflow: auto;
    line-height: 1.5;
    font-size: 0.96em;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    color: #4c4c4c;
    background-color: #f9f9f7;
}

.yue pre code,
.yue pre tt {
    color: #4c4c4c;
    border: none;
    background: none;
    padding: 0;
}

.yue table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1.5em;
    font-size: 0.96em;
}

.yue th,
.yue td {
    text-align: left;
    padding: 4px 8px 4px 10px;
    border: 1px solid #dadada;
}

.yue td {
    vertical-align: top;
}

.yue tr:nth-child(even) {
    background-color: #efefee;
}

.yue iframe {
    display: block;
    max-width: 100%;
    margin-bottom: 30px;
}

.yue figure iframe {
    margin: auto;
}

.yue table pre {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

.fluid-width-video-wrapper {
    position: relative;
    width: 100%;
    margin: 1em 0;
}
.fluid-width-video-wrapper iframe,
.fluid-width-video-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 1100px) {
    .yue blockquote {
        margin-left: -24px;
        padding-left: 20px;
        border-width: 4px;
    }

    .yue blockquote blockquote {
        margin-left: 0;
    }
}

/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+bash+ruby+css-extras+diff+git+go+jade+less+markdown+nginx+php+python+jsx+sass+scss+swift+typescript+vim+yaml */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
    color: black;
    text-shadow: 0 1px white;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
    text-shadow: none;
    background: #b3d4fc;
}

@media print {
    code[class*="language-"],
    pre[class*="language-"] {
        text-shadow: none;
    }
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #999;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #a67f59;
    background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #07a;
}

.token.function {
    color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
    color: #e90;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}
