block vars

doctype
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
        link(rel="alternate" type="application/rss+xml" title="RSS 2.0" href="https://webzhao.me/rss.xml")
        title #{title}
        link(rel="stylesheet" href="/assets/css/main.css")
    body
        header
            nav#nav
                ul
                    li(class=nav == 'index' ? 'active' : '')
                        a(href="/") 博客
                    li(class=nav == 'about' ? 'active' : '')
                        a(href="/about.html") 关于
                    li.pull-right
                        a.rss(href="/rss.xml") RSS

        main#main
            block main
        footer#footer
            p &copy; 2015 webzhao
